{% extends 'base.html' %}
{% block conteudo %}

<form style="background-color: #F2F2F2;" action="/editar/{{receita.idReceita}}" method="POST" class="form-control">
    <h1 class="text-center text-2xl">Editar: {{receita.nomeReceita}}</h1>
    <div>
        <label for="nomeReceita">Receita:</label>
        <input type="text" class="form-control" name="nomeReceita" value="{{receita.nomeReceita}}" required>
    </div>
    <div>
        <label for="nomeIngrediente">Ingredientes:</label>
        {% for ingrediente in receita.ingredientes %}
            <div class="m-1"><input type="text" class="form-control" name="ingredientes[]" value="{{ ingrediente.nomeIngrediente }}" required></div>
        {% endfor %}    
        </div>
    <div>
        <label for="preparo">Preparo:</label>
        <textarea type="text" class="form-control" name="preparo" rows="6" required>{{receita.preparo}}</textarea>
    </div>
    <div>
        <label for="imagem">Imagem:</label>
        <input type="text" class="form-control" name="imagem" required>
    </div>
    <button class="rounded-md px-3 py-2 bg-green-500/70 hover:bg-green-400/70 m-6" type="submit">Editar</button>
    <a href="/deletar/{{receita.idReceita}}" class="rounded-md px-3 py-2 bg-red-500/80 hover:bg-red-400/80 m-6" type="submit">Excluir</a>
</form>

{% endblock conteudo %}