{% extends 'base.html' %}
{% block conteudo %}

<form action="{{url_for('adicionar')}}" method="POST" class="form-control">
    <div>
        <label for="nomeReceita">Receita:</label>
        <input type="text" class="form-control" name="nomeReceita" required>
    </div>
    <div>
        <label for="nomeIngrediente">Ingredientes:</label>
        <div class="m-1"><input type="text" class="form-control" name="ingredientes[]" required></div>
        <div class="m-1"><input type="text" class="form-control" name="ingredientes[]" required></div>
        <div class="m-1"><input type="text" class="form-control" name="ingredientes[]" required></div>
        <div class="m-1"><input type="text" class="form-control" name="ingredientes[]" required></div>
        <div class="m-1"><input type="text" class="form-control" name="ingredientes[]" required></div>
        <div class="m-1"><input type="text" class="form-control" name="ingredientes[]" required></div>
        <div class="m-1"><input type="text" class="form-control" name="ingredientes[]" required></div>
        <div class="m-1"><input type="text" class="form-control" name="ingredientes[]" required></div>
    </div>
    <div>
        <label for="preparo">Preparo:</label>
        <textarea type="text" class="form-control" name="preparo" required></textarea>
    </div>
    <button style="color: #03A63C;" type="submit">Cadastrar</button>
</form>

{% endblock conteudo %}