{% extends 'base.html' %}
{% block conteudo %}

<form style="background-color: #F2F2F2;" action="/editar/{{receita.idReceita}}" method="POST" class="form-control">
    <h1>Editar: {{receita.nomeReceita}}</h1>
    <div>
        <label for="nomeReceita">Receita:</label>
        <input type="text" class="form-control" name="nomeReceita" value="{{receita.nomeReceita}}" required>
    </div>
    <div>
        <label for="nomeIngrediente">Ingredientes:</label>
        {% for ingrediente in receita.ingredientes %}
            <div class="m-1"><input type="text" class="form-control" name="ingredientes[]" value="{{ ingrediente.nomeIngrediente }}" required></div>
        {% endfor %}    
        </div>
    <div>
        <label for="preparo">Preparo:</label>
        <textarea type="text" class="form-control" name="preparo" rows="6" required>{{receita.preparo}}</textarea>
    </div>
    <button style="color: #03A63C;" type="submit">Editar</button>
</form>

{% endblock conteudo %}