{% extends 'base.html' %}
{% block conteudo %}

  <div class="mx-auto grid max-w-2xl grid-cols-1 items-center gap-x-8 gap-y-16 px-4 py-24 sm:px-6 sm:py-32 lg:max-w-7xl lg:grid-cols-2 lg:px-8">
    <div>
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{% block titulo %}{% endblock titulo %}</h2>
      <p class="mt-4 text-gray-500">{% block preparo %}{% endblock preparo %}</p>

      <dl class="mt-16 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-8">
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">{% block titleIngredientes %}{% endblock titleIngredientes %}</dt>
          <dd class="mt-2 text-sm text-gray-500">{% block ingredientes %}{% endblock ingredientes %}</dd>
        </div>
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">{% block titleEspecificacoes %}{% endblock titleEspecificacoes %}</dt>
          <dd class="mt-2 text-sm text-gray-500">{% block especificacoes %}{% endblock especificacoes %}</dd>
        </div>
      </dl>
    </div>
    <div class="">
      <img src="{% block imagem %}{% endblock imagem %}" alt="{% block titleImagem %}{% endblock titleImagem %}" class="rounded-lg bg-gray-100">
    </div>
  </div>

{% endblock conteudo %}