{% extends 'receita.html' %}
    {% block titulo %}
        titulo
    {% endblock titulo %}

    {% block preparo %}
    O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. 
    O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500, 
    quando uma misturou os caracteres de um texto para criar um espécime de livro. 
    Este texto não só sobreviveu 5 séculos, mas também o salto para a tipografia electrónica,
    mantendo-se essencialmente inalterada. Foi popularizada nos anos 60 com a disponibilização das folhas de Letraset, 
    que continham passagens com Lorem Ipsum, 
    e mais recentemente com os programas de publicação como o Aldus PageMaker que incluem versões do Lorem Ipsum.
    {% endblock preparo %}

    {% block titleIngredientes %}
        Lista de ingredientes
    {% endblock titleIngredientes %}

    {% block ingredientes %}
        1 ingrediente
        <br />
        ½ ingrediente
        <br />
        4 partes de ingrediente
        <br />
        ½ medidade (porção) ingrediente
        <br />
        ½ ingrediente
        <br />
        4 partes de ingrediente
        <br />
        ½ medidade (porção) ingrediente
    {% endblock ingredientes %}

    {% block titleEspecificacoes %}
        Especificações
    {% endblock titleEspecificacoes %}

    {% block especificacoes %}
        Tempo de preparo: 40min
        <br />
        Utensílios: Liquidificador, batedeira.
        <br />
        Dificuldade:  ★ ★ ★
    {% endblock especificacoes %}

    {% block imagem %}
        https://live.staticflickr.com/8588/28350802465_eb31d4ddb8_b.jpg
    {% endblock imagem %}

    {% block titleImagem %}
        titulo alternativo da imagem
    {% endblock titleImagem %}
    